body {
    background-color: #1aff1a;
    color: Blue;
    font-family: Gill Sans, sans-serif;
    background-image: URL("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/7cdb3d52-6537-4184-8a60-165e5c202a84/da9420t-fb722a23-9f78-4a92-89b7-c33d4bc61104.png")
}
